.title_blog {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}
.about-img {
    max-width: 500px;
    display: block;
    margin: auto;
    margin-top: 50px;
    }
@media (max-width:768px) {
    .title_blog {
        margin-top: 180px;
    }
    .about-img {
        max-width: 250px;
        margin-top: 60px;
    }
 
}